<!-- Interpolation binding-->
<h1>Welcome to {{ hotelName }}</h1>
<!-- property binding -->
<div [hidden]="hideRooms">
  Number of Rooms:
  <div [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}"
  [innerText]="numberOfRooms"></div>
</div>

{{ rooms?.availableRooms ?? "No rooms" }}

<!-- {{roomList | json}} -->

<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list [rooms]="roomList"></hinv-rooms-list>
</div>
<!-- Event Binding -->
<button (click)="toggle()">Toggle</button>

<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->
